{% extends "layout.html" %}


{% block main %}
<ul class="nav nav-tabs nav-fill nav-justified" style="font-size: 150%">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/void">Void</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/cards">Cards</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/FAQ">FAQ</a>
    </li>
</ul>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <br>
    <p>
        &nbsp;&nbsp;&nbsp;<b>CARDS!</b>
    <br>
        &nbsp;&nbsp;&nbsp;cards cards cards cards cards
    </p>
</div>

<div class="card-columns">

    <div class="card bg-light mb-3" id="1">
        <div class="card-body">
            <span class="badge badge-secondary">something</span>
            <h5 class="card-title">This is the 1st card</h5>
            <h6 class="card-subtitle mb-2 text-muted">CARDS</h6>
            <p class="card-text">Is it just me or there are a lot of cards in here?</p>

            <br>
        </div>
    </div>





    <div class="card bg-light mb-3" id="2">
        <div class="card-body">
        <span class="badge badge-secondary">something</span>
            <h5 class="card-title">A lack of creativity</h5>
            <h6 class="card-subtitle mb-2 text-muted">A serious lack of creativity</h6>
            <p class="card-text">Possible description</p>
            <p class="card-text">Maybe I could have wrote some basic shit about how to use github or bootstrap or idk</p>

            <br>
        </div>
    </div>









    <div class="card bg-light mb-3" id="3">
        <div class="card-body">
        <span class="badge badge-secondary">In Progress</span>
        <h5 class="card-title">title</h5>
        <h6 class="card-subtitle mb-2 text-muted">I love <a href="https://getbootstrap.com/docs/4.5/components/card/">cards</a></h6>
        <p class="card-text">another reason for cards</p>

        </div>
    </div>





    <div class="card bg-light mb-3" id="4">
        <div class="card-body">
        <span class="badge badge-secondary">In Progress</span>
        <h5 class="card-title">I love books</h5>
        <h6 class="card-subtitle mb-2 text-muted">This one is about Books!</h6>
        <p class="card-text">

            <a href="http://93.174.95.29/main/9601F0A6AB90874E8C0A9D93F9A7B1E5">This</a> and
            <a href="http://93.174.95.29/main/F116B9421B66220F909DB64ED8661069">this</a> book indeed

        </p>

        </div>
    </div>




</div>

{% endblock %}