{% extends "layout.html" %}


{% block main %}
        <ul class="nav nav-tabs nav-fill nav-justified" style="font-size: 150%">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/void">Void</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cards">Cards</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/FAQ">FAQ</a>
  </li>
</ul>

    <br><br><br>

    <p style="text-align: center; font-weight: bold">Question?</p>
    <p class="shadow-lg p-3 mb-5 bg-white rounded">
        &nbsp;&nbsp;&nbsp;Because blabla (I genuinely don't understand why).
    </p>    <br>

    <p style="text-align: center; font-weight: bold">Why are you gay?</p>
    <p class="shadow-lg p-3 mb-5 bg-white rounded">
        &nbsp;&nbsp;&nbsp;A1<br>
        &nbsp;&nbsp;&nbsp;A2<br>
        &nbsp;&nbsp;&nbsp;A3
    </p>    <br>

    <br>
{% endblock %}