{% extends "layout.html" %}


{% block main %}
    <ul class="nav nav-tabs nav-fill nav-justified" style="font-size: 150%">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/void">Void</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cards">Cards</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/FAQ">FAQ</a>
  </li>
</ul>

<br>
<!--
<div class="container">
    <img src="static/ no .jpg" style="float: left" width="45%" alt="no" title="no" class="rounded">
    <img src="static/ no .jpg" style="float: right" width="45%" alt="no" title="no" class="rounded">
</div>
 -->
<br><br><br><br><br>

<p class="float-left" style="text-align: center; width: 100%">
    <br><br><br><br>I don't know who needs to hear this, but owning things isn't a job.

    <div class="container"/>
        <img src="static/beard-oh-no.png" style="float: right" width="40%" alt="oh no comic - beard" title="oh no comic - beard" class="rounded">
    </div>

</p>

</main>
    <img src="static/life-wisdom.jpg" style="float: left" width="100%" alt="life wisdom" title="life wisdom">
<main>

{% endblock %}